@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

@font-face {
  font-family: 'notoo';
  src: url('/fonts/notoo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'mono';
  src: url('/fonts/mono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
 
    background-color: white;
    /* width: 100%; */
    /* height: 100vh; */
}
*{
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* .custom-stroke {
  -webkit-text-stroke: 0.5px white;
} */


.glass-effect {
  background: rgba(255, 255, 255, 0.15); /* semi-transparent white */
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(10px); /* for Safari */
  /* border-radius: 16px; */
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
}

.text-image{
  background-image: url(/images/full-hero.svg);
  background-size: cover;
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent !important;
}
/* @media screen and (m-width: 650px) { .card-box{padding-left: 10px; padding-right: 10px;} .meeting-padding-container, .work-margin-container{padding-top: 20px !important; padding-bottom: 20px !important;} .faq-heading-padding{margin-top: 20px;} .work-heading{padding-bottom: 20px;} } */
.link-active{
  /* padding-left: 30px; */
  /* padding-right: 30px; */
  /* padding-top: 8px; */
  /* padding-bottom: 8px; */
  border-width: 0px;
  outline-width: 0px;
  background-color: #2AFF39;
  border-radius: 40px;
  font-family: 'N/oto', sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #000000 !important;
  line-height: 32px;
}
.link-non-active{
  /* padding-left: 30px; */
  /* padding-right: 30px; */
  /* padding-top: 8px; */
  /* padding-bottom: 8px; */
  /* border-width: 0px; */
  /* outline-width: 0px; */
  /* background-color: #; */
  border-radius: 40px;
  font-family: 'Noto', sans-serif;
  font-weight: 700;
  font-size: 32px;
  color:#A6A6A6;
  line-height: 32px;
}
@media screen and (max-width: 1400px) {
  .hidden-section-default-text{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 0px;
    color: #A6A6A6;
  }
  .hidden-section-default-text2{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 0px;
    color: #000000;
  }

  .nav-textt{
    font-size: 50px  !important;
  }

 }

.hidden-section-default-text{
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 70px;
  color: #A6A6A6;
}
.hidden-section-default-text2{
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 70px;
  /* color: #000000; */
}

.nav-arrow {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.active-arrow .nav-arrow {
  opacity: 1;
}

.overlay-text {
  color: white;
  mix-blend-mode: difference; /* This makes white text turn black when on black */
  /* animation: slide 3s infinite alternate; */
}


.bottom-bar-shadow{box-shadow: 0px 4px 27.2px rgba(0, 0, 0, 0.2);}

/* responsive */
@media screen and (max-width: 1000px) {.meeting-padding-container, .faq-container, .work-margin-container{padding-top: 70px !important; padding-bottom: 70px;} .faq-heading-padding{margin-top: 40px;} }
@media screen and (max-width: 650px) { .card-box{padding-left: 10px; padding-right: 10px;} .meeting-padding-container, .faq-container, .work-margin-container{padding-top: 70px !important; padding-bottom: 70px !important;} .faq-heading-padding{margin-top: 20px;} .work-heading{padding-bottom: 40px;} }
/* @media screen and (max-width: 510px) {.faq-container{padding-top: 25%;} } */
/* @media screen and (max-width: 465px) {.faq-container{padding-top: 30%;} } */
/* @media screen and (max-width: 435px) {.faq-container{padding-top: 35%;} } */
@media screen and (max-width: 412px) {.work-card-heading, .sss{overflow: hidden !important; text-overflow: ellipsis !important; text-wrap: nowrap !important;} }

/* @media screen and (max-width: 600px) { .bottom-bar-container{top: 93vh;} } */
@media screen and (max-width: 1000px) { .nav-container{padding-left: 1%; padding-right: 1%;} .section-home{padding-left: 0%; padding-right: 0%;} .mobile-hero-container{height: 100vh; width: 100%;} .hidden-hero{display:inline-block;} .white-bar1, .white-bar2{width: 5px !important;} .hero-visible{display: none;} }
@media screen and (min-width: 1000px) {.hidden-hero{display: none;} .hero-visible{display: inline-block;} }
@media screen and (max-width: 1250px) {.hero-heading{font-size: 130px;} .hero-para{font-size: 38px;} }
@media screen and (max-width: 1000px) {.hero-heading{font-size: 120px;} .hero-para{font-size: 32px; margin-top: 30px; line-height: 110%;} }
@media screen and (max-width: 900px) {.hero-heading{font-size: 110px;} .hero-para{font-size: 30px; line-height: 110%;} }
@media screen and (max-width: 805px) {.hero-heading{font-size: 100px;} .hero-para{font-size: 28px; line-height: 110%;} }
@media screen and (max-width: 730px) {.hero-heading{font-size: 90px;} .hero-para{font-size: 26px; line-height: 110%;} }
@media screen and (max-width: 660px) {.hero-heading{font-size: 70px; } .hero-para{font-size: 25px; margin-top: 20px; line-height: 110%; } }
@media screen and (max-width: 1200px) {.white-bar1, .white-bar2{width: 8px;} }
@media screen and (max-width: 800px) {.white-bar1, .white-bar2{width: 6px;} }
@media screen and (max-width: 950px) {.hero-main-container{height: 300px;} }


/* responsive */

.hero-visible {
  transition: transform 0.2s ease-out;
}


/* bottom bar */

@media screen and (max-width: 1100px) {.bottom-bar-container{height: 60px;} .bottom-bar-text, .link-active{font-size: 28px;} .bottom-bar-button-box, .link-active{padding-top: 6px; padding-bottom: 6px;} }
/* @media screen and (max-width: 1000px) {.nav-container{padding-left: 20px; padding-right: 20px;}} */
@media screen and (max-width: 780px) {.bottom-bar-container{height: 55px;} .bottom-bar-text, .link-active{font-size: 25px;} .bottom-bar-button-box, .link-active{padding: 4px 22px;} }
@media screen and (max-width: 650px) {.bottom-bar-container{height: 50px;} .bottom-bar-text, .link-active{font-size: 22px;} .bottom-bar-button-box, .link-active{padding: 2px 10px;} .nav-text-container{display: inline-flex; flex-direction: column; gap: 10px; } }
@media screen and (max-width: 500px) {.bottom-bar-text-box{justify-content: space-between; padding-right: 10px;} .what-text, .faqs-text{display: none;} }

/* bottom bar */

@media screen and (max-width: 1100px) {.web-logo{height: 40px;} .nav-container{height: 90px;} .wait-list-button{font-size: 16px;} }
@media screen and (max-width: 780px) {.web-logo{height: 36px;} .nav-container{height: 80px;} .wait-list-button{font-size: 16px;} }
@media screen and (max-width: 1000px) {.nav-text-box{margin-left: 40px;} .nav-cross-container{padding-left: 40px; padding-right: 40px;} .arrow-container{gap: 50px; align-items: center;} .nav-arrow{height: 35px;} .nav-text{font-size: 40px !important;} .nav-cross{font-size: 28px;} .nav-button{ margin-left: 20px;} }
@media screen and (max-width: 700px) {.nav-text-box{margin-left: 20px;} .nav-cross-container{padding-left: 20px; padding-right: 20px;} .arrow-container{gap: 40px; align-items: center;} .nav-arrow{height: 30px;}  .nav-text{font-size: 40px !important;} .nav-cross{font-size: 25px;} .nav-button{ margin-left: 10px;} }
@media screen and (max-width: 600px) {.nav-text-box{margin-left: 20px;}  .arrow-container{gap: 20px; align-items: center;} .nav-arrow{height: 20px;} .nav-text{font-size: 35px !important;} .nav-cross{font-size: 20px;} .nav-button{ margin-left: 10px;} }
@media screen and (max-width: 450px) {.wait-list-button{font-size: 15px; padding: 20px 20px;} }
@media screen and (max-width: 400px) {.nav-text-box{margin-left: 20px;}  .arrow-container{gap: 20px; align-items: center;} .nav-arrow{height: 20px;} .nav-text{font-size: 28px !important;} .nav-cross{font-size: 20px;} .nav-button{ margin-left: 10px;} }
@media screen and (min-width: 600px) {.work-text-hidden{display: none;} }
@media screen and (max-width: 600px) {.work-text-visible{display: none;} .bottom-bar-icon{min-width: 60px !important; max-width: 60px !important;} }
@media screen and (max-width: 450px) {.bottom-bar-text-box{justify-content: space-around; padding-right: 0px; padding-left: 0px;} .what-text, .faqs-text{display: none;} }



/* bottom bar */


/* meeting section */

@media screen and (max-width: 1250px) { .meeting-container{padding-left: 40px; padding-right:40px ;} .meeting-para{font-size: 28px; margin-top: 40px;} .meeting-heading{font-size: 38px;} .meeting-img{height: 300px;}}
@media screen and (max-width: 1100px) { .meeting-container{padding-left: 20px; padding-right:20px ;} .meeting-para{font-size: 22px; margin-top: 30px; line-height: 105%;} .meeting-heading{font-size: 30px;} .meeting-img{height: 250px;}}
@media screen and (max-width: 850px) {.meeting-box{flex-direction: column; gap: 30px;} .meeting-para{margin-top: 15px; font-size: 22px;} .meeting-heading{font-size: 32px;} .meeting-left, .meeting-right{width: 100%; }}
@media screen and (max-width: 600px) {.meeting-box{flex-direction: column; gap: 30px;} .meeting-para{margin-top: 10px; font-size: 18px;} .meeting-heading{font-size: px;} .meeting-left, .meeting-right{width: 100%; }}

/* meeting section */
.hello{
  /* color: red; */
  /* position: absolute; */
  /* top: 20%; */
  /* left: 10%; */
  /* z-index: 2; */
  mix-blend-mode: difference !important; 
}
/* work section */

@media screen and (max-width: 1480px) {.work-heading{font-size: 50px;} .work-card-heading{font-size: 38px;} .work-card-para{font-size: 28px; margin-top: 10px;} .card-box{padding: 25px 30px;}}
@media screen and (max-width: 1250px) { .work-container{padding-left: 40px; padding-right:40px;} }
@media screen and (max-width: 1100px) { .work-container{padding-left: 20px; padding-right:20px;} .work-heading{font-size: 40px;} .work-card-heading{font-size: 30px;} .work-card-para{font-size: 22px; margin-top: 10px;} .card-box{padding: 20px 25px;} .work-box-right{gap: 25px;}}
@media screen and (max-width: 850px) { .work-container{padding-left: 20px; padding-right:20px;} .work-heading{font-size: 40px;} .work-card-heading{transform: translateY(-5px);} .work-card-heading{font-size: 32px;} .work-card-para{font-size: 22px;} .work-container{flex-direction: column; } .work-left, .work-box-right{width: 100%;}}
@media screen and (max-width: 700px) { .work-card-heading{transform: translateY(0px);} }
@media screen and (max-width: 600px) { .work-container{padding-left: 20px; padding-right:20px;} .work-heading{font-size: 32px;} .work-card-heading{font-size: 28px;} .work-card-para{font-size: 18px; width: 100%;} .work-container{flex-direction: column; } .card-box{padding: 20px 10px;}  .work-left, .work-box-right{width: 100%;}}
@media screen and (max-width: 490px) {  .work-card-para{font-size: 16px;} .card-box{padding: 10px 10px;} }
@media screen and (max-width: 390px) { .nearby{display: none;} }
/* work section */


/* faq section */
@media screen and (max-width: 1480px) {.faq-heading{font-size: 50px;}}
@media screen and (max-width: 1250px) { .faq-heading{font-size: 40px; padding-left: 40px; padding-right: 40px;} .answer{font-size: 22px;} .question{font-size: 28px;} .before-signing, .after-signing{font-size: 28px; padding-left: 40px; padding-right: 40px;} .faq-div{padding-left: 0px; padding-right: 0px; margin-left: 40px; margin-right: 40px;}}
@media screen and (max-width: 1100px) { .faq-heading{font-size: 40px; padding-left: 20px; padding-right: 20px;} .before-signing, .after-signing{font-size: 28px; padding-left: 20px; padding-right: 20px;}  .faq-div{padding-top: 10px; padding-bottom: 10px; margin-left: 20px; margin-right: 20px;} .answer{font-size: 16px;} .question{font-size: 22px; font-weight: 600;} .before-signing, .after-signing{font-size: 22px;}}
@media screen and (max-width: 1000px) {.faq-heading{padding-top: 50px;}}
@media screen and (max-width: 850px) { .faq-heading, .work-heading{font-size: 40px; padding-bottom: 40px; padding-top: 0px;  line-height: 120%;} .answer{font-size: 22px;} .question{font-size: 28px;} .before-signing, .after-signing{font-size: 18px;}}
@media screen and (max-width: 600px) { .faq-heading, .work-heading{font-size: 40px; } .question{font-size: 18px; font-weight: 600;} .answer{font-size: 15px;} .before-signing, .after-signing{font-size: 16px;}}



@media screen and (max-width: 1000px) { .faq-container{margin-top: 35vh;}}
@media screen and (max-width: 600px) { .faq-container{margin-top: 25vh;}}
@media screen and (min-width: 850px) { .answer-margin{margin-top: 40px;}}
@media screen and (max-width: 850px) { .answer-margin{margin-top: 10px;}}
@media screen and (max-width: 850px) { .faq-question-padding{padding-top: 25px !important; padding-bottom: 25px !important;}}
@media screen and (max-width: 600px) { .faq-question-padding{padding-top: 20px !important; padding-bottom: 20px !important;}}
/* faq section */

@media screen and (max-width: 1250px) { .bottom-button-box{padding-left: 40px; padding-right: 40px;} }
@media screen and (max-width: 1100px) { .bottom-button-box{padding-left: 20px; padding-right: 20px;} }


@media screen and (max-width: 1200px) {
  .contact-inner-wrapper {
    flex-direction: column;
    gap: 5rem;
  }

  .contact-wrapper-left,
  .contact-wrapper-right {
    width: 100%;
    padding-top: 0rem;
  }

  .input-box input {
    height: 4rem;
  }

  .input-box {
    margin-top: 1.5rem;
  }
}

@media screen and (max-width: 1200px) {
  .contact-heading {
    font-size: 5rem;
  }

  .contact-sub-heading {
    font-size: 1.6rem;
    line-height: 2rem;
    margin-top: 0.8rem;
  }

  .contact-para {
    font-size: 18px;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 900px) {
  .contact-wrapper {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
 
}

@media screen and (max-width: 800px) {
  .contact-back-button{
    top: 30px;
    left: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 22px;
  }
  .contact-back-button-img{
    height: 10px;
  }
}
@media screen and (max-width: 600px) {
  .nav-cross{
    top: 30px;
    right: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
  }
}
@media screen and (max-width: 650px) {
  .nav-cross{
    margin-top: 30px;
  margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
  }
  .nav-cross-container{
    padding-top: 0px;
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 600px) {
  .contact-back-button{
    top: 0px;
    left: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    width: fit-content;
  }
  .contact-back-button-img{
    height: 10px;
  }
}
@media screen and (max-width: 650px) {
  .contact-wrapper {
  padding-top: 6rem !important;
  }
}
@media screen and (max-width: 750px) {
 
}

@media screen and (max-width: 810px) {
  .contact-inner-wrapper {
    flex-direction: column;
    gap: 3rem;
  }

  .contact-heading {
    font-size: 3rem;
    line-height: 3rem;
  }

  .contact-sub-heading {
    font-size: 1.4rem;
    line-height: 2rem;
    margin-top: 1.5rem;
  }

  .contact-para {
    font-size: 1rem;
    margin-top: 1rem;
  }

  .contact-button {
    width: 100%;
  }
}
@media screen and (max-width: 650px) {

  .contact-heading {
    font-size: 8.5vw;
  }
  .contact-sub-heading {
    font-size: 3vw;
    line-height: 4vw;
    margin-top: 0.5rem;
  }

  .contact-para {
    font-size: 0.8rem;
    margin-top: 1rem;
  }
  .input-box label{
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 1000px) {
  .contact-headings{
    font-size: 90px !important;
    line-height: 100% !important;
  }
}
@media screen and (max-width: 1000px) {
  .contact-headings{
    font-size: 4rem;
    line-height: 5rem;
  }
}
@media screen and (max-width: 650px) {
  .contact-headings {
    font-size: 8.5vw;
    line-height: 10vw;
  }
  .contact-button{
    min-height: 0px;
    line-height: 100%;
    padding: 20px;
  }
}
.contact-headings {
  font-size: 8.5vw;
  width: 100%;
  line-height: 10vw;
}
@media screen and (max-width: 600px) {.contact-page-wrapper{ padding-left: 0rem; padding-right: 0rem;} .contact-page-nav-container{padding-left: 0.8rem; padding-right: 0.8rem;}}